/*Add more space between nav items when displaying text navigation*/
@media (min-width: 576px) { /* Should be done in bootstraps scss, but i'm too lazy to process that myself for now*/
  .navbar-nav > .nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
/* Make nav icons larger when we switch over to displaying just icons*/
.nav-icon {
  font-size: 1.5em;
}
@media (min-width: 576px) { /* Should be done in bootstraps scss, but i'm too lazy to process that myself for now*/
  .nav-icon {
    font-size: inherit;
  }
}
.nav-link[ngbdropdown] {
  cursor: pointer;
}
