<div class="bg-primary text-white text-center py-1">
  <a class="unstyled-link" href="https://github.com/smithk58/xiv-raid-hub" target="_blank">
    <fa-icon [icon]="gitHubIcon" size="lg"></fa-icon> GitHub
  </a>
  |
  <a class="unstyled-link" routerLink="/about" aria-label="Navigate to about">About
  </a>
  |
  <span>
    By <a class="unstyled-link" href="https://na.finalfantasyxiv.com/lodestone/character/15888379/" target="_blank">Ruze Nitsah</a>
  </span>
   |
  <span>
    <label for="themeSelector" class="mb-0 mr-1">Theme</label>
    <app-theme-selector labelForId="themeSelector" class="theme-selector d-inline-block text-left"></app-theme-selector>
  </span>
</div>


