<app-modal-header [title]="isEdit ? 'Edit Character' : 'Add Character'"></app-modal-header>
<div class="modal-body">
  <form #form="ngForm" [formGroup]="characterForm" (ngSubmit)="saveCharacter()" [class.ng-was-validated]="isSubmitted">
    <div class="form-group">
      <label for="characterLabel">Character</label>
      <app-character-search class="ml-2"
                  labelForId="characterLabel"
                  [fControl]="characterControl"
      ></app-character-search>
      <div *ngIf="f.character.errors" class="invalid-feedback" [class.d-block]="isSubmitted">
        <div *ngIf="f.character.errors.required">A character is required.</div>
        <div *ngIf="f.character.errors.notUnique">You can't add a character that you have already added.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="defaultClassLabel">Default Job</label>
      <fa-icon [icon]="faInfoCircle" class="ml-1"
               ngbTooltip="The job you want to do analysis with most often for this character. Can be overridden during analysis."
               placement="right"
      ></fa-icon>
      <app-class-search [fControl]="f.comparisonClass" labelForId="defaultClassLabel"></app-class-search>
      <div *ngIf="f.comparisonClass.errors" class="invalid-feedback" [class.d-block]="isSubmitted">
        <div *ngIf="f.comparisonClass.errors.required">A default comparison class is required.</div>
      </div>
    </div>
  </form>
</div>
<app-modal-footer mode="save" (save)="form.ngSubmit.emit()"></app-modal-footer>
