<form [formGroup]="roleForm" (ngSubmit)="saveRole()" [class.ng-was-validated]="roleIsSubmitted">
  <!--Display currently selected role-->
  <div class="form-group" [hidden]="!currentAlarmType">
    <label for="roleNameDisplay">Role to Mention (optional)</label>
    <fa-icon [icon]="faInfoCircle" class="ml-1" [hidden]="editRoleMode"
             ngbTooltip="If set the alert will @ this particular role with the alert. The role name displayed below is saved from when you last selected it. It may appear wrong if you changed the name since then, but will still work as long as you didn't delete and recreate the role on the server."
             placement="left"
    ></fa-icon>
    <!--Display the role name by default, hide it when we're in role edit mode-->
    <div [hidden]="editRoleMode" [class.d-flex]="!editRoleMode">
      <button type="button" class="btn-svg mr-2" (click)="this.toggleEditRoleMode()"
              aria-label="Actives edit for for the role of this alarm"
              ngbTooltip="Edit this alarms role">
        <fa-icon [icon]="faEdit" size="lg" aria-hidden="true"></fa-icon>
      </button>
      <input id="roleNameDisplay" class="form-control" type="text" formControlName="roleName" readonly placeholder="No role selected">
    </div>
  </div>
  <!--Discord role selection, show if we're in edit role mode-->
  <div [hidden]="!editRoleMode" class="ml-3">
    <div class="row">
      <div class="form-group col-6">
        <label for="alarmRole">Discord Role</label>
        <fa-icon [icon]="faInfoCircle" class="ml-1"
                 ngbTooltip="This is a list of roles the bot can see on the server you selected as a target."
                 placement="left"
        ></fa-icon>
        <ng-select [items]="discordRoles"
                   [formControl]="f.role | formControl"
                   [clearable]="true"
                   [loading]="discordRolesLoading"
                   bindValue="id"
                   bindLabel="name"
                   labelForId="alarmRole"
                   placeholder="Select a role"
        ></ng-select>
      </div>
    </div>
    <button type="button" (click)="this.toggleEditRoleMode()" class="btn btn-link mr-3">Cancel</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
