<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <span>Your Characters</span>
      <!--Add character to users characters-->
      <button class="btn btn-primary ml-4 text-nowrap" (click)="addEditCharacterModal()">
        <fa-icon [icon]="faPlus" class="mr-1" aria-hidden="true"></fa-icon>Add
      </button>
    </div>
  </div>
  <div class="card-body">
    <p [hidden]="characters.length > 0" class="m-0 text-center">You haven't added any characters yet.</p>
    <ul class="list-group">
      <li *ngFor="let character of characters" class="list-group-item d-flex">
        <div class="d-flex align-items-center">
          <img class="class-icon mr-1" aria-hidden="true"
               [alt]="character.defaultClass" [src]="'assets/class-icons/'+character.defaultClass+'.png'"
               [ngClass]="classToRole[character.defaultClass] + '-bg'"
               [ngbTooltip]="character.defaultClass"
          />
          <span class="wrap-flex-overflow mr-3" [ngbTooltip]="character.name">{{character.name}}</span>
          <span class="badge badge-info">{{character.server}}</span>
        </div>
        <div class="ml-auto actions-container">
          <button class="btn-svg" (click)="goToFFlogs(character)"
                  aria-label="Open this character's FF logs profile"
                  ngbTooltip="Open this character's FF logs profile">
            <img src="assets/fflogs.png" class="logo-img" aria-hidden="true"/>
          </button>
          <button class="btn-svg" (click)="analyzeCharacter(character)"
                  aria-label="Analyze this character"
                  ngbTooltip="Analyze this character">
            <fa-icon [icon]="faChartBar" size="xl" aria-hidden="true"></fa-icon>
          </button>
          <button class="btn-svg" (click)="addEditCharacterModal(character)"
                  aria-label="Edits the current character"
                  ngbTooltip="Edit this character">
            <fa-icon [icon]="faEdit" size="xl" aria-hidden="true"></fa-icon>
          </button>
          <button class="btn-svg" (click)="deleteCharacter(character)"
                  aria-label="Deletes the current character"
                  ngbTooltip="Remove this character">
            <fa-icon [icon]="faTrash" size="xl" aria-hidden="true"></fa-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
