<div class="container-fluid">
  <div class="row mx-2 mt-2">
    <!--Toolbar-->
    <div class="d-flex align-items-start">
      <fa-icon [icon]="faWarn" size="2x" class="text-warning mr-3"
               aria-label="Warning - all data you add is only stored in the browser. If you clear your cache you will lose it. Pages that allow saving have an import/export button to mitigate this annoyance for now."
               ngbTooltip="Warning - all data you add is only stored in the browser. If you clear your cache you will lose it. Pages that allow saving have an import/export button to mitigate this annoyance for now."
               placement="bottom-left"
      ></fa-icon>
      <button class="btn btn-secondary text-nowrap"
        (click)="exportData()"
        aria-label="Download your saved data. Can be used to restore your data in this browser, or another browser."
        ngbTooltip="Download your saved data. Can be used to restore your data in this browser, or another browser."
        placement="right"
      ><fa-icon [icon]="faExport" size="xl" class="mr-1"></fa-icon>Export
      </button>
      <button class="btn btn-secondary text-nowrap ml-3"
        (click)="importData()"
        aria-label="Import data. Will overwrite all data currently saved on this page with whatever you provide."
        ngbTooltip="Import data. Will overwrite all data currently saved on this page with whatever you provide."
        placement="right"
      ><fa-icon [icon]="faImport" size="xl" class="mr-1"></fa-icon>Import
      </button>
    </div>
  </div>
  <ngb-tabset (tabChange)="onTabChange($event)" [activeId]="tabToSelect" class="m-3">
    <ngb-tab title="Characters">
      <ng-template ngbTabContent>
        <app-config-characters></app-config-characters>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Statics">
      <ng-template ngbTabContent>
        <app-config-statics ngbTabContent></app-config-statics>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
