<ng-select [items]="characters"
           dropdownPosition="down"
           [(ngModel)]="selectedCharacter"
           bindLabel="Name"
           [typeahead]="searchCharacterInput$"
           [virtualScroll]="true"
           [loading]="searchIsExecuting"
           [clearSearchOnAdd]="clearOnSelect"
           (scrollToEnd)="onScrollToEnd()"
           (change)="onChange()"
           placeholder="Search for character by name"
>
  <!--Custom option template-->
  <ng-template ng-option-tmp let-item="item">
    <span [title]="item.Name+' ('+item.Server+')'" class="ng-option-label">{{item.Name}} ({{item.Server}})</span>
  </ng-template>
  <!--Label when value selected-->
  <ng-template ng-label-tmp let-item="item">
    <span class="ng-option-label">{{item.Name}} ({{item.Server}})</span>
  </ng-template>
</ng-select>

