<app-modal-header [title]="isEdit ? (canEdit ? 'Edit':'View')+' Raid Group' : 'Add Raid Group'"></app-modal-header>
<div class="modal-body pb-0">
  <form #form="ngForm" [formGroup]="raidGroupForm"(ngSubmit)="saveRaidGroup()" [class.ng-was-validated]="isSubmitted">
    <div class="row">
      <!--Raid group name-->
      <div class="form-group col">
        <label for="raidGroupName">Name</label>
        <input id="raidGroupName" type="text" formControlName="name" class="form-control">
        <div *ngIf="f.name.errors" class="invalid-feedback" [class.d-block]="isSubmitted">
          <div *ngIf="f.name.errors.required">A raid group name is required.</div>
        </div>
      </div>
      <!--Raid group tag-->
      <div class="form-group col">
        <label for="raidGroupPurpose">Purpose</label>
        <input id="raidGroupPurpose" type="text" formControlName="purpose" class="form-control" placeholder="e.g. Savage, UWU">
        <div *ngIf="f.purpose.errors" class="invalid-feedback" [class.d-block]="isSubmitted">
          <div *ngIf="f.purpose.errors.maxlength">Max length of 10 characters.</div>
        </div>
      </div>
    </div>
    <div class="members-container scroll-shadow position-relative">
      <div class="row mr-1">
        <!--Repeat the member fields-->
        <div *ngFor="let ctrlGrp of getCharacterControls; let i = index;" class="form-group col-6">
          <h5>Member {{i+1}}</h5>
          <div class="ml-4">
            <label [for]="'character_'+i">Character</label>
            <app-character-search class="ml-2"
                                  [labelForId]="'character_'+i"
                                  [fControl]="ctrlGrp.controls.character"
                                  (selected)="characterSelected(i, $event)"
                                  appendTo=".modal-body"
            ></app-character-search>
            <div *ngIf="ctrlGrp.controls.character.errors" class="invalid-feedback" [class.d-block]="isSubmitted">
              <div *ngIf="ctrlGrp.controls.character.errors.required">A character is required.</div>
              <div *ngIf="ctrlGrp.controls.character.errors.notUnique">You can't add a character that you have already added.</div>
            </div>
            <label [for]="'class_'+i" class="mt-3">Class</label>
            <app-class-search [fControl]="ctrlGrp.controls.comparisonClass"
                              [labelForId]="'class_'+i"
                              appendTo=".modal-body">
            </app-class-search>
            <div *ngIf="ctrlGrp.controls.comparisonClass.errors" class="invalid-feedback" [class.d-block]="isSubmitted">
              <div *ngIf="ctrlGrp.controls.comparisonClass.errors.required">A class is required.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<app-modal-footer [mode]="canEdit ? 'save' : 'close'" (save)="form.ngSubmit.emit()">
  <div pre-content class="mr-auto mb-0">
    <div class="form-check form-check-inline">
      <input id="sharedCb" class="form-check-input" type="checkbox" [formControl]="getShareCheckbox">
      <label class="form-check-label" for="sharedCb">Share with other members</label>
      <fa-icon [icon]="faInfoCircle" class="ml-1"
               [ngbPopover]="sharingPopover" popoverClass="md-popover" placement="top"
      ></fa-icon>
    </div>
  </div>
</app-modal-footer>
<ng-template #sharingPopover>
  <p>If enabled this raid group will show up to other raid group members, so they don't have to add it themselves.</p>
  <p>They must have added their character in the <span class="font-weight-bold">Characters</span> list and have <span class="font-weight-bold">claimed</span> it as their character.</p>
  <p>They will <span class="font-weight-bold">NOT</span> be able to edit this group, but they can see all of the information.</p>
</ng-template>
