<div class="container-fluid">
  <h3 class="mt-3">1. Select an encounter</h3>
  <div class="row mx-2 mt-3">
    <!--Toolbar-->
    <app-encounter-toolbar (selected)="getParsesByZone($event)"></app-encounter-toolbar>
  </div>
  <div class="row mt-4">
    <h3 class="col-6">2. Select a report to analyze</h3>
    <h3 class="col-6">3. and a report to analyze against</h3>
  </div>
  <div class="row">
    <!--Parses of character being analyzed-->
    <div class="col-6">
      <div class="d-flex align-items-center mb-1">
        <p *ngIf="atCharacter" class="m-0 lead">{{atCharacter.name}} as</p>
        <app-class-search *ngIf="atClassFilter" [fControl]="atClassFilter" class="classFilter d-inline-block ml-2">
        </app-class-search>
      </div>
      <app-report-list [parses]="atFilteredParses"
                       [encounter]="zoneEncounter ? zoneEncounter.encounter : undefined"
      ></app-report-list>
    </div>
    <!--Parses of analysis target-->
    <div class="col-6">
      <div class="d-flex align-items-center mb-1">
        <ng-select [items]="ctAvailableCharacters" class="mr-1"
                   (change)="comparisonTargetSelected($event)"
                   bindLabel="name"
                   placeholder="Select character"
        >
        </ng-select>
        <p class="m-0 ml-1 lead">as {{lastSelectedClass}}</p>
      </div>

      <app-report-list [parses]="ctFilteredParses"
                       [encounter]="zoneEncounter ? zoneEncounter.encounter : undefined"
                       sortField="total"
      ></app-report-list>
    </div>
  </div>
</div>
