@import 'bootstrap-overrides';
@import '../../node_modules/ag-grid-community/dist/styles/ag-grid.css';
@import '../../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css';

html, body{
  height: 100%;
  margin: 0;
}
body {
  overflow: hidden;
}
/*Needed for responsive flex containers*/
.min-flex {
  flex: 1 1 0px;
  min-width: 0;
}
/*Use for anything made clickable that isn't naturally clickable (e.g. an icon). Be sure to add tabindex, role="button",
and aria-label as well for accessibility*/
.clickable {
  cursor: pointer;
}
.clickable:hover {
  color: var(--primary) !important;
}
/*Prevents flex content from wrapping and instead does ellipsis*/
.wrap-flex-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;;
  min-width: 0px;
}
/*Allows ag-grid cell text to be highlighted*/
.ag-cell-value {
  user-select: initial;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}
/*Utility classes for FF classes/roles*/
.tank-bg {
  background-color: #3A4DAA; /*blue*/
}
.healer-bg {
  background-color: #457737; /*green*/
}
.dps-bg {
  background-color: #813B3C; /*red*/
}
.class-icon {
  height: 25px;
  width: 25px;
  border: 2px solid #E0C984; /*gold*/
  border-radius: 5px
}
/*Make icon look disabled in a disabled ng-select control*/
.ng-select-disabled .class-icon {
  opacity: 0.7;
}
/*For display FFlogs logo for linking to the site*/
.logo-img {
  height: 25px;
}
.logo-img-sm {
  height: 20px;
}
.logo-img:hover, .logo-img-sm:hover {
  opacity: 0.6;
  cursor: pointer;
}
