@import '../../node_modules/ag-grid-community/dist/styles/ag-grid.css';
@import '../../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css';
@import 'utility/index.scss';

html, body {
  height: 100%;
  margin: 0;
}
body {
  overflow: hidden;
}
