@import '../../node_modules/ag-grid-community/dist/styles/ag-grid.css';
@import '../../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css';

html, body{
  height: 100%;
  margin: 0;
}
body {
  overflow: hidden;
}
/*Needed for responsive flex containers*/
.min-flex {
  flex: 1 1 0px;
  min-width: 0;
}
/*Prevents flex content from wrapping and instead does ellipsis*/
.wrap-flex-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;;
  min-width: 0px;
}
/*Allows ag-grid cell text to be highlighted*/
.ag-cell-value {
  user-select: initial;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}
/*Utility classes for FF classes/roles*/
.tank-bg {
  background-color: #3A4DAA; /*blue*/
}
.healer-bg {
  background-color: #457737; /*green*/
}
.dps-bg {
  background-color: #813B3C; /*red*/
}
.class-icon {
  height: 25px;
  width: 25px;
  border: 2px solid #E0C984; /*gold*/
  border-radius: 5px
}
/*Make icon look disabled in a disabled ng-select control*/
.ng-select-disabled .class-icon {
  opacity: 0.7;
}
/*For display FFlogs logo for linking to the site*/
.logo-img {
  height: 22px;
}
.logo-img:hover {
  opacity: 0.6;
}
.scroll-shadow {
  position: relative; /*Required to "contain" the absolutely positioned ::after*/
}
/*Adds a small shadow at the top of the container when scrolled*/
.scroll-shadow::before {
  content: '';
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: block;
  height: 1px;
  background: #aec4d0;
  z-index: 1;
}
/*Covers the "shadow" when the container is scrolled all the way to the top*/
.scroll-shadow::after {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: white; /*Overridden in slate theme*/
  z-index: 2;
}
/* For a container element with child actin buttons*/
.actions-container > button:not(:first-child) { /*TODO Apply to other action lists*/
  margin-left: 1rem;
}
/* For wrapping svgs/images in <button>'s*/
.btn-svg {
  all: unset;
}
.btn-svg .logo-img {
  margin-top: -5px; /*Fixes vertical alignment on images in button vs fa icons*/
}
.btn-svg:hover > fa-icon {
  color: var(--primary) !important;
}
.cursor-pointer {
  cursor: pointer;
}
