<p class="mt-3">Adding statics here will make them available to other areas of the application that use statics.</p>
<div class="cards-container mt-4">
  <div class="container-col">
    <app-users-statics></app-users-statics>
  </div>
</div>
<div class="cards-container mt-4">
  <div class="container-col">
    <app-friend-statics-card></app-friend-statics-card>
  </div>
</div>
<div class="cards-container mt-4 mb-3">
  <!--Comparison targets-->
  <div class="container-col">
    <app-comparison-statics-card></app-comparison-statics-card>
  </div>
</div>
