<p class="mt-3">Adding raid groups here will make them available to other areas of the application that use raid groups. Raid groups
  that other people make that include characters you have <span class="badge badge-success">confirmed</span> are yours will appear here as well.</p>
<div class="row">
  <div class="col-lg-6 col">
    <app-raid-group-card
      cardSubject="raid group"
      [raidGroups]="raidGroups"
      [isLoaded]="!!raidGroups"
      (addRaidGroup)="addUserRaidGroup($event)"
      (updateRaidGroup)="updateUserRaidGroup($event)"
      (copyRaidGroup)="copyUserRaidGroup($event)"
      (deleteRaidGroup)="deleteUserRaidGroup($event)"
      (updateSchedule)="updateRaidGroupSchedule($event.raidGroupId, $event.weeklyRaidTimes)"
    ></app-raid-group-card>
  </div>
</div>
<!--Disabling these guys until I care about them one day-->
<!--<div class="cards-container mt-4 mb-3">
  <div class="container-col">
    <app-raid-group-card
      cardSubject="friend static"
      tooltip="Adding raid groups here will help you compare their performance against other raid groups."
      [statics]="friendStatics"
    ></app-raid-group-card>
  </div>
</div>
<div class="cards-container mt-4 mb-3">
  <div class="container-col">
    <app-raid-group-card
      cardSubject="comparison static"
      tooltip="Adding raid groups here will give you quick access to compare other raid groups against them."
      [statics]="comparisonStatics"
    ></app-raid-group-card>
  </div>
</div>-->
