<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <span class="text-capitalize">{{cardSubject}}s</span>
      <fa-icon *ngIf="tooltip"
               [icon]="faInfoCircle" class="ml-1"
               [ngbTooltip]="tooltip"
               placement="right"
      ></fa-icon>
      <!--Add static-->
      <button class="btn btn-primary ml-4 text-nowrap" (click)="addEditStaticModal()" aria-label="Add new static">
        <fa-icon [icon]="faPlus" class="mr-1" aria-hidden="true"></fa-icon>Add
      </button>
    </div>
  </div>
  <div class="card-body">
    <p [hidden]="statics.length > 0" class="m-0 text-center">You haven't added any {{cardSubject}}s yet.</p>
    <ul class="list-group">
      <li *ngFor="let static of statics" class="list-group-item d-flex">
        <div>
          <span class="wrap-flex-overflow mr-3" [ngbTooltip]="static.name">{{static.name}}</span>
          <span class="badge badge-warning cursor-pointer" [hidden]="static.raidTimes.length > 0"
                [ngbPopover]="noScheduleWarning" openDelay="300" popoverTitle="No Schedule" triggers="click"
                popoverClass="no-schedule-popover" placement="right">
            No schedule
          </span>
        </div>
        <div class="ml-auto actions-container">
          <button class="btn-svg" (click)="addEditCalendarModal(static)"
                  aria-label="Edits the schedule of the current {{cardSubject}}"
                  ngbTooltip="Edit this {{cardSubject}}'s schedule">
            <fa-icon [icon]="faCalendar" size="xl" aria-hidden="true"></fa-icon>
          </button>
          <button class="btn-svg" (click)="addEditStaticModal(static)"
                  aria-label="Edits the current {{cardSubject}}"
                  ngbTooltip="Edit this {{cardSubject}}">
            <fa-icon [icon]="faEdit" size="xl" aria-hidden="true"></fa-icon>
          </button>
          <button class="btn-svg" (click)="deleteStaticModal(static)"
                  aria-label="Deletes the current {{cardSubject}}"
                  ngbTooltip="Remove this {{cardSubject}}">
            <fa-icon [icon]="faTrash" size="xl" aria-hidden="true"></fa-icon>
          </button>
        </div>
      </li>
    </ul>
    <ng-template #noScheduleWarning>
      <p class="my-1">Assigning a schedule let's you setup fancy stuff!</p>
      <ul>
        <li>Your raid times will be shown under the 'My Raid' section.</li>
        <li>You can setup alarms that will send you direct messages on discord to remind you about raid.</li>
        <li>You can setup alarms that will send reminders to a discord channel to remind that guy that always forgets about raid <fa-icon [icon]="faAngry" size="xl" aria-label="angry face"></fa-icon>.</li>
      </ul>
      <p class="my-1">Click the <fa-icon [icon]="faCalendar" size="xl" class="mx-1" aria-label="calendar"></fa-icon> icon to setup a schedule!</p>
    </ng-template>
  </div>
</div>
