<div class="container mt-4">
  <h1>Intro</h1>
  <p>Welcome to the XIV Raid Hub! This is an application that's meant to help simplify a lot of the extra work I find myself
  doing between raid days. I believe we already have quite a few useful tools for analyzing reports in various ways, but
  they're completely disjointed. My hope is this project can offer an easier way for myself and others to analyze themselves, their friends,
    and their static members over time.</p>
  <p>It's important to understand that I do not intend for this project to compete with any other tools that I'm aware of.
    I have no interest in reinventing the wheel, so to speak. The bulk of the "real work" will be coming from me utilizing
    other tools. This application will be kept very lightweight, so please support the tools I'm leveraging instead.
  </p>
  <h1 class="mt-4">Tools</h1>
  <p>All of the tools I currently leverage are listed below. Please support them!</p>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="https://www.fflogs.com/" target=”_blank”>FFLogs</a> - I use their API to get information on fights and combat logs for players.
    </li>
    <li class="list-group-item">
      <a href="https://xivapi.com/" target=”_blank”>XIV API</a> - I use their API to get information on players and servers.
    </li>
    <li class="list-group-item">
      <a href="https://xivanalysis.com/" target=”_blank”>XIV Analysis</a> - For now I only add a convenient quick link to their analysis on reports, but in the future will explore the possibility of retrieving/saving bits of the analysis for historical comparison. The project is MIT, so odds are I will have to host it myself unless they add/allow a public API.
    </li>
    <li class="list-group-item">
      <a href="http://www.xivrdps.com/" target=”_blank”>XIV Raid DPS Calculator</a> - For now I only add a convenient quick link to their analysis next to reports, but in the future will explore the possibility of retrieving/saving bits of the analysis for historical comparison (the project doesn't have a license yet, so it might stay as a simple quick link to their website forever).
    </li>
  </ul>
  <h1 class="mt-4">Browser Compatibility</h1>
  <p>This project will attempt to support any modern browser, but will most likely only be tested in latest versions of Firefox, Chrome, and occasionally Edge.</p>
  <h1 class="mt-4">Contributing</h1>
  <p>Any suggestions that would make your day to day raiding easier are welcomed, just open an <a href="https://github.com/smithk58/xiv-raid-hub/issues" target="_blank">issue on GitHub</a>.
  Code contributions are also welcomed, but you should run your idea by me in an issue on GitHub first.</p>
  <p>Please keep in mind I have very little interest in implementing functionality that's solved by or better handled by existing tools. The community as a whole will be far better off if the existing tool is improved instead.</p>
  <h1 class="mt-4">License</h1>
  <p>This project has a MIT license (you can do whatever you want with the code, I do not care). Be aware that I may leverage
  other libraries in the project that don't use MIT though.</p>
</div>


