<p class="mt-3">Adding characters here will make them available to other areas of the application that use characters.</p>
<div class="cards-container mt-4">
  <div class="container-col">
    <app-users-characters></app-users-characters>
  </div>
</div>
<div class="cards-container mt-4">
  <div class="container-col">
    <app-friends-card></app-friends-card>
  </div>
</div>
<div class="cards-container mt-4 mb-3">
  <!--Comparison targets-->
  <div class="container-col">
    <app-comparisons-card></app-comparisons-card>
  </div>
</div>
