<div class="d-flex align-items-start">
  <!--Expansion-->
  <div class="d-flex align-items-center">
    <label for="bracketInput" class="m-0 mr-2 font-weight-bold">Expansion: </label>
    <ng-select [items]="expansions"
               [(ngModel)]="selectedExpansion"
               (ngModelChange)="setExpansion(selectedExpansion)"
               [clearable]="false"
               labelForId="bracketInput"
               placeholder="Select a bracket"
    >
    </ng-select>
  </div>
  <!--Zone-->
  <div class="d-flex align-items-center ml-3">
    <label for="zoneInput" class="m-0 mr-2 font-weight-bold">Zone: </label>
    <ng-select [items]="filteredZones" class="zone-ng-select"
               [(ngModel)]="selectedZone"
               (change)="setZone(selectedZone)"
               [clearable]="false"
               labelForId="zoneInput"
               bindLabel="name"
               placeholder="Select a zone"
    >
      <ng-template ng-option-tmp let-item="item">
        <span [title]="item.name" class="ng-option-label">{{item.name}}</span>
      </ng-template>
    </ng-select>
  </div>
  <!--Encounter-->
  <div class="d-flex align-items-center ml-3">
    <label for="encounterInput" class="m-0 mr-2 font-weight-bold">Encounter: </label>
    <ng-select [items]="encounters" class="encounter-ng-select"
               [(ngModel)]="selectedEncounter"
               (change)="setEncounter(selectedEncounter)"
               [clearable]="false"
               labelForId="encounterInput"
               bindLabel="name"
               placeholder="Select an encounter"
    >
      <ng-template ng-option-tmp let-item="item">
        <span [title]="item.name" class="ng-option-label">{{item.name}}</span>
      </ng-template>
    </ng-select>
  </div>
  <!--Partitions, only if there's more than one-->
  <div *ngIf="partitions && partitions.length > 1" class="d-flex align-items-center ml-3">
    <label for="partitionInput" class="m-0 mr-2 font-weight-bold">Partition: </label>
    <ng-select [items]="partitions" class="encounter-ng-select"
               [(ngModel)]="selectedPartition"
               (change)="setPartition(selectedPartition)"
               [clearable]="false"
               labelForId="partitionInput"
               bindLabel="name"
               placeholder="Select a partition"
    >
      <ng-template ng-option-tmp let-item="item">
        <span [title]="item.name" class="ng-option-label">{{item.name}}</span>
      </ng-template>
    </ng-select>
  </div>
</div>
