<div class="container mt-4">
  <div class="jumbotron py-3">
    <h1 class="display-4">XIV Raid Hub</h1>
    <p class="lead">A website to simplify raid related workflows I find tedious with existing tools.</p>
    <hr class="my-4">
    <h5>What this website will attempt to solve</h5>
    <p>
      If you currently find some part of your day to day raiding life tedious then this project wants to know about it (<a routerLink="/about" aria-label="Navigate to home">see contribuing</a>)!
      The main focus initially will be on making it easier to compare yourself to other (better) players and see what they're doing differently.
    </p>
    <h5>What this website will not solve</h5>
    <p>
      This project isn't meant to be the go-to place for raiding guides/tips/etc.. Such things are better handled by tools maintained by a large community, such as
      <a href="https://thebalanceffxiv.com/" target="_blank">the balance</a>. Basically, if it's not something that can be mostly automated across patches and content changes then this isn't the
      place for it.
    </p>
    <p>
      This project will also avoid "reinventing the wheel" as much as possible. If some other project exists that handles a problem, then I would
      rather build a workflow in this project that utilizes it (with proper credit given), or simply link to it.
    </p>
  </div>
</div>
