<img src="assets/fflogs.png" class="logo-img-sm" tabindex="0"
     (click)="goToFFlogsReport()" (keyup.enter)="goToFFlogsReport()"
     aria-label="Open this report on FF logs"
     ngbTooltip="Open this report on FF logs" container="body"
/>
<img src="assets/xivanalysis.png" class="logo-img-sm ml-2" tabindex="0"
     (click)="goToXIVAnalysis()" (keyup.enter)="goToXIVAnalysis()"
     aria-label="Open this report on XIVAnalysis"
     ngbTooltip="Open this report on XIVAnalysis" container="body"
/>
