<button class="btn-svg" (click)="goToFFlogsReport()"
        aria-label="Open this report on FF logs"
        ngbTooltip="Open this report on FF logs" container="body">
  <img src="assets/fflogs.png" class="logo-img" aria-hidden="true" />
</button>
<button class="btn-svg" (click)="goToXIVAnalysis()"
        aria-label="Open this report on XIVAnalysis"
        ngbTooltip="Open this report on XIVAnalysis" container="body">
  <img src="assets/xivanalysis.png" class="logo-img ml-2" aria-hidden="true" />
</button>
