<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <span class="text-capitalize">{{cardSubject}}s</span>
      <fa-icon *ngIf="tooltip"
               [icon]="faInfoCircle" class="ml-1"
               [ngbTooltip]="tooltip"
               placement="right"
      ></fa-icon>
      <!--Add raid group-->
      <button class="btn btn-primary ml-4 text-nowrap" (click)="openRaidGroupModal()" aria-label="Add new raid group">
        <fa-icon [icon]="faPlus" class="mr-1" aria-hidden="true"></fa-icon>Add
      </button>
    </div>
  </div>
  <div class="card-body position-relative">
    <fa-icon [hidden]="isLoaded" [icon]="faSpinner" class="center-absolute" spin="true" size="2x" aria-hidden="true"></fa-icon>
    <p [hidden]="!isLoaded || raidGroups.length > 0" class="m-0 text-center">You haven't added any {{cardSubject}}s yet.</p>
    <ul class="list-group" *ngIf="isLoaded">
      <li *ngFor="let raidGroup of raidGroups; index as i;" class="list-group-item d-flex">
        <div class="text-ellipsis-container pr-2">
          <span class="wrap-flex-overflow" [ngbTooltip]="raidGroup.name">{{raidGroup.name}}</span>
          <span class="badge badge-secondary">{{raidGroup.purpose}}</span>
          <span *ngIf="raidGroup.share" class="badge badge-info" ngbTooltip="All your raid group members can see this group.">Shared</span>
          <span *ngIf="!raidGroup.share" class="badge badge-info" ngbTooltip="Only you can see this raid group.">Not Shared</span>
          <span class="badge badge-warning cursor-pointer" [hidden]="raidGroup.hasSchedule"
                [ngbPopover]="noScheduleWarning" openDelay="300" popoverTitle="No Schedule" triggers="click"
                popoverClass="no-schedule-popover" placement="right">
            No schedule
          </span>
        </div>
        <div class="ml-auto actions-container">
          <button class="btn-svg" (click)="addEditScheduleModal(raidGroup)"
                  aria-label=" View/edit the schedule of the current ' + cardSubject"
                  [ngbTooltip]="(raidGroup.isOwner ? 'Edit' : 'View')+' this ' +cardSubject+'s schedule'">
            <fa-icon [icon]="faCalendar" size="xl" aria-hidden="true"></fa-icon>
          </button>
          <button class="btn-svg" (click)="editRaidGroup(raidGroup)"
                  aria-label="View/edit the current {{cardSubject}}"
                  [ngbTooltip]="(raidGroup.isOwner ? 'Edit' : 'View')+' this '+cardSubject">
            <fa-icon [icon]="faEdit" size="xl" aria-hidden="true"></fa-icon>
          </button>
          <button class="btn-svg" (click)="deleteRaidGroupModal(raidGroup)"
                  aria-label="Deletes the current {{cardSubject}}"
                  ngbTooltip="Remove this {{cardSubject}}">
            <fa-icon [icon]="faTrash" size="xl" aria-hidden="true"></fa-icon>
          </button>
        </div>
      </li>
    </ul>
    <ng-template #noScheduleWarning>
      <p class="my-1">Assigning a schedule let's you setup fancy stuff!</p>
      <ul>
        <li>Your raid times will be shown under the 'My Raid' section.</li>
        <li>You can setup alarms that will send you direct messages on discord to remind you about raid.</li>
        <li>You can setup alarms that will send reminders to a discord channel to remind that guy that always forgets about raid <fa-icon [icon]="faAngry" size="xl" aria-label="angry face"></fa-icon>.</li>
      </ul>
      <p class="my-1">Click the <fa-icon [icon]="faCalendar" size="xl" class="mx-1" aria-label="calendar"></fa-icon> icon to setup a schedule!</p>
    </ng-template>
  </div>
</div>
