<div class="container-fluid">
  <div class="row mx-2 mt-2">
    <!--Toolbar-->
    <div class="d-flex align-items-start">
      <fa-icon [icon]="faWarn" size="2x" class="text-warning mr-3"
               aria-label="Warning - all data you add is only stored in the browser. If you clear your cache you will lose it. Pages that allow saving have an import/export button to mitigate this annoyance for now."
               ngbTooltip="Warning - all data you add is only stored in the browser. If you clear your cache you will lose it. Pages that allow saving have an import/export button to mitigate this annoyance for now."
               placement="bottom-left"
      ></fa-icon>
      <button class="btn btn-secondary text-nowrap"
        (click)="exportData()"
        aria-label="Download your saved data. Can be used to restore your data in this browser, or another browser."
        ngbTooltip="Download your saved data. Can be used to restore your data in this browser, or another browser."
        [openDelay]="300" placement="right"
      ><fa-icon [icon]="faExport" size="xl" class="mr-1"></fa-icon>Export
      </button>
      <button class="btn btn-secondary text-nowrap ml-3"
        (click)="importData()"
        aria-label="Import data. Will overwrite all data currently saved on this page with whatever you provide."
        ngbTooltip="Import data. Will overwrite all data currently saved on this page with whatever you provide."
        [openDelay]="300" placement="right"
      ><fa-icon [icon]="faImport" size="xl" class="mr-1"></fa-icon>Import
      </button>
    </div>
    <p class="col-12 col-md">Track players here that you know you will want to use for analysis often. This can include
      things such as your static, friends you want to help improve, or players or groups you want to compare against.
    </p>
  </div>
  <h3>Players you want to help improve</h3>
  <div class="row cards-container">
    <!--Friends-->
    <div class="col friend-container-col">
      <app-friends-card></app-friends-card>
    </div>
    <!--Static-->
    <div class="col static-container-col">
      <app-statics-card></app-statics-card>
    </div>
  </div>
  <h3 class="mt-4">Players you want to compare against</h3>
  <div class="row cards-container mb-3">
    <!--Comparison targets-->
    <div class="col">
      <app-comparisons-card></app-comparisons-card>
    </div>
    <div class="col">
      <app-comparison-groups-card></app-comparison-groups-card>
    </div>
  </div>
</div>
