<app-modal-header [title]="isEdit ? 'Edit Alarm' : 'Add Alarm'"></app-modal-header>
<div class="modal-body">
  <form #form="ngForm" [formGroup]="alarmForm" (ngSubmit)="saveAlarm()" [class.ng-was-validated]="isSubmitted">
    <!--enabled section-->
    <div class="form-check form-check-inline mb-3">
      <input id="alarmEnabled" class="form-check-input" type="checkbox" formControlName="isEnabled">
      <label class="form-check-label" for="alarmEnabled">Alarm Enabled</label>
    </div>
    <!--hours section-->
    <div class="form-group">
      <span class="pr-2">Send alert</span>
      <div class="d-inline-block">
        <label for="alarmHours" class="sr-only">Number of hours before raid</label>
        <input id="alarmHours" type="number" formControlName="hours" class="form-control hours-input">
      </div>
      <span class="px-2">hours before raid.</span>
      <!--hours errors-->
      <div *ngIf="f.hours.errors" class="invalid-feedback" [class.d-block]="isSubmitted">
        <div *ngIf="f.hours.errors">Hours must be a number between 0 and 23.</div>
      </div>
    </div>
    <!--raid group section-->
    <div class="form-group">
      <label for="alarmRaidGroup">Raid Group</label>
      <ng-select [items]="raidGroups"
                 [formControl]="f.raidGroup"
                 [clearable]="false"
                 [loading]="raidGroupsLoading"
                 bindValue="id"
                 labelForId="alarmRaidGroup"
                 placeholder="Select a raid group"
      >
        <ng-template ng-option-tmp let-item="item">
          <span [title]="item.name" class="ng-option-label">
            {{item.name}}
            <span class="badge badge-secondary">{{item.purpose}}</span>
          </span>
        </ng-template>
        <ng-template ng-label-tmp let-item="item">
          <span [title]="item.name" class="ng-option-label">
            {{item.name}}
            <span class="badge badge-secondary">{{item.purpose}}</span>
          </span>
        </ng-template>
      </ng-select>
      <div *ngIf="f.raidGroup.errors" class="invalid-feedback" [class.d-block]="isSubmitted">
        <div *ngIf="f.raidGroup.errors.required">A raid group is required.</div>
      </div>
    </div>
    <!--alert type-->
    <div class="form-group">
      <label for="targetType">Type</label>
      <ng-select [items]="targetTypes"
                 [formControl]="f.type"
                 [clearable]="false"
                 labelForId="targetType"
                 bindValue="value"
                 placeholder="Select an alert type"
      >
      </ng-select>
      <div *ngIf="f.type.errors" class="invalid-feedback" [class.d-block]="isSubmitted">
        <div *ngIf="f.type.errors.required">A alarm type is required.</div>
      </div>
    </div>
  </form>
  <app-alarm-target [alarm]="alarm"
                    [alarmType]="f.type.value"
                    (targetChange)="targetChanged($event)">
  </app-alarm-target>
  <!--Actual target displayed by app-alarm-target, but this form still tracks if it's set-->
  <div *ngIf="f.type.value && f.target.errors" class="invalid-feedback" [class.d-block]="isSubmitted">
    <div *ngIf="f.target.errors.required">A target is required.</div>
  </div>
  <app-alarm-target-role [alarm]="alarm"
                         [alarmType]="f.type.value"
                         [guildId]="f.target.value?.targetServerId"
                         (roleChange)="roleChanged($event)"
                         [hidden]="f.type.value !== channelAlarmType || !f.target.value"
  ></app-alarm-target-role>
</div>
<app-modal-footer mode="save" (save)="form.ngSubmit.emit()" [disabled]="">
  <div pre-content class="mr-auto">
    <button class="btn btn-secondary" (click)="inviteBot()" container="body">
      <fa-icon [icon]="faPlus" class="mr-1" aria-hidden="true"></fa-icon>Invite Bot
    </button>
  </div>
</app-modal-footer>
