<div class="card">
  <div class="card-header py-2">
    <div class="d-flex align-items-center">
      <span>Friends/Rivals</span>
      <fa-icon [icon]="faInfoCircle" class="ml-1"
               ngbTooltip="Adding your friends and rivals here will make it easier to compare them against other players."
               placement="right"
      ></fa-icon>
      <!--Add character to friends/rivals-->
      <button class="btn btn-primary ml-4 text-nowrap" (click)="friendListCharacterModal()">
        <fa-icon [icon]="faPlus" class="mr-1" aria-hidden="true"></fa-icon>Add
      </button>
    </div>
  </div>
  <div class="card-body p-2">
    <p [hidden]="friends.length > 0" class="m-0 text-center">You haven't added any friends or rivals yet.</p>
    <ul class="list-group">
      <li *ngFor="let character of friends" class="list-group-item d-flex">
        <img class="class-icon mr-1" aria-hidden="true"
             [alt]="character.defaultClass" [src]="'assets/class-icons/'+character.defaultClass+'.png'"
             [ngClass]="classToRole[character.defaultClass] + '-bg'"
             [ngbTooltip]="character.defaultClass" [openDelay]="500"
        />
        <span class="wrap-flex-overflow mr-3" [ngbTooltip]="character.name" [openDelay]="500">{{character.name}}</span>
        <fa-icon [icon]="faEdit" size="xl" class="ml-auto clickable" tabindex="0"
                 (click)="friendListCharacterModal(character.id)"
                 aria-label="Edits the current character"
                 ngbTooltip="Edit this character" [openDelay]="300"
        ></fa-icon>
        <fa-icon [icon]="faTrash" size="xl" class="ml-3 clickable" tabindex="0"
                 (click)="deleteFriend(character.id)"
                 aria-label="Deletes the current character"
                 ngbTooltip="Remove this character" [openDelay]="300"
        ></fa-icon>
      </li>
    </ul>
  </div>
</div>
