html, body{
  height: 100%;
  margin: 0;
}
body {
  overflow: hidden;
}
/*Needed for responsive flex containers*/
.min-flex {
  flex: 1 1 0px;
  min-width: 0;
}
/*Use for anything made clickable that isn't naturally clickable (e.g. an icon). Be sure to add tabindex and aria-label
as well for accessibility*/
.clickable {
  cursor: pointer;
}
.clickable:hover {
  color: #0072D7 !important;
}
/*Prevents flex content from wrapping and instead does ellipsis*/
.wrap-flex-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;;
  min-width: 0px;
}
.tank-bg {
  background-color: #3A4DAA; /*blue*/
}
.healer-bg {
  background-color: #457737; /*green*/
}
.dps-bg {
  background-color: #813B3C; /*red*/
}
.class-icon {
  height: 25px;
  width: 25px;
  border: 2px solid #E0C984; /*gold*/
  border-radius: 5px
}
