html, body{
  height: 100%;
  margin: 0;
}
body {
  overflow: hidden;
}
/*Needed for responsive flex containers*/
.min-flex {
  flex: 1 1 0px;
  min-width: 0;
}
/*Use for anything made clickable that isn't naturally clickable (e.g. an icon). Be sure to add tabindex and aria-label
as well for accessibility*/
.clickable {
  cursor: pointer;
}
.clickable:hover {
  color: #0072D7 !important;
}
/*Utility to cut down card body padding, it's excessive when displaying certain controls in a card*/
.card-sm .card-body{
  padding: 0.5rem;
}
/*Fixes issue with accordions that only have one element being cut off and having square corners. Most likely caused by
my bootstrap being ahead of ngb-bootstrap's bootstrap at the moment*/
.accordion:not(.multiple-panels) > .card {
  border-radius: 0.25rem !important;
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.tank-bg {
  background-color: #3A4DAA; /*blue*/
}
.healer-bg {
  background-color: #457737; /*green*/
}
.dps-bg {
  background-color: #813B3C; /*red*/
}
.class-icon {
  height: 25px;
  width: 25px;
  border: 2px solid #E0C984; /*gold*/
  border-radius: 5px
}
