<!--TODO Has to be a better way to do this, this is retarded, optionally including formControl or ngModel shouldn't be this dumb-->
<!--Separate ng-select depending on if we were given a form control or not-->
<ng-select *ngIf="!fControl"
           [items]="characters"
           [appendTo]="appendTo"
           [(ngModel)]="selectedCharacter"
           bindLabel="Name"
           [labelForId]="labelForId"
           [typeahead]="searchCharacterInput$"
           [virtualScroll]="true"
           [loading]="searchIsExecuting"
           (scrollToEnd)="onScrollToEnd()"
           (change)="onChange()"
           placeholder="Search for character by name"
>
  <!--Custom option template-->
  <ng-template ng-option-tmp let-item="item">
    <span [title]="item.Name" class="ng-option-label">{{item.Name}} <span class="badge bg-info ms-1">{{item.Server}}</span></span>
  </ng-template>
  <!--Label when value selected-->
  <ng-template ng-label-tmp let-item="item">
    <span class="ng-option-label">{{item.Name}} <span class="badge bg-info ms-1">{{item.Server}}</span></span>
  </ng-template>
</ng-select>
<ng-select *ngIf="fControl"
           [items]="characters"
           [appendTo]="appendTo"
           bindLabel="Name"
           [labelForId]="labelForId"
           [typeahead]="searchCharacterInput$"
           [virtualScroll]="true"
           [loading]="searchIsExecuting"
           (scrollToEnd)="onScrollToEnd()"
           (change)="onChange()"
           [formControl]="fControl"
           placeholder="Search for character by name"
>
  <!--Custom option template-->
  <ng-template ng-option-tmp let-item="item">
    <span [title]="item.Name" class="ng-option-label">{{item.Name}} <span class="badge bg-info ms-1">{{item.Server}}</span></span>
  </ng-template>
  <!--Label when value selected-->
  <ng-template ng-label-tmp let-item="item">
    <span class="ng-option-label">{{item.Name}} <span class="badge bg-info ms-1">{{item.Server}}</span></span>
  </ng-template>
</ng-select>



